<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/syhy.base.css" rel="stylesheet" />
</head>
<body>
    <header class="site-header">
        <div class="site-container">
            <h1 class="site-title"><a href="javascript:;">OctOcean's Blog</a></h1>
        </div>
    </header>

    <div class="site-content">
        <div class="site-container">

            @RenderBody()

        </div>

    </div>


    <footer class="site-footer"></footer>

</body>
</html>
