@page "{ArticleKey?}"
@model Article.ArticleEditModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文章编辑</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .layui-form-item{margin-bottom:8px;}
    </style>

    
</head>
<body>
    <form method="post" class="layui-form layui-form-pane">

        <div id="editpanel" style="padding:10px 0;">
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章标题：</label>
                            <div class="layui-input-block">
                                <input type="text" name="articletitle" required lay-verify="required" placeholder="请输入文章标题" autocomplete="off" class="layui-input" maxlength="100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md3">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">文章分类：</label>
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" asp-for="SelectArticleCategoryValue" asp-items="Model.Base_ArticleCategoryList">
                                    <option value="">请选择分类</option>
                                    @*<option value="0">Java</option>
                                    <option value="1">NET</option>*@
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item pane">
                            <label class="layui-form-label">标签设置：</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                                <input type="checkbox" name="like[write]" title="写作">
                                <input type="checkbox" name="like[read]" title="阅读">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-form-item layui-form-text pane">
                            <label class="layui-form-label">附属样式：</label>
                            <div class="layui-input-block">
                                <textarea placeholder="请输入内容" class="layui-textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="layui-row">
                    <div class="layui-col-md4">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="*">保存</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-form-item pane">

                            <label class="layui-form-label">发布：</label>
                            <div class="layui-input-block">
                                <input type="checkbox" name="yyy" lay-skin="switch" lay-text="ON|OFF" checked>
                            </div>
                        </div>
                    </div>
                </div>
            </div>










            @*<div class="layui-form-item">
            <label class="layui-form-label">开关关</label>
            <div class="layui-input-block">
                <input type="checkbox" lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开关开</label>
            <div class="layui-input-block">
                <input type="checkbox" checked lay-skin="switch">
            </div>
        </div>
        <div class="layui-form-item">

        </div>*@






            @*<div class="layui-form-item">


            <div class="ae-top-row">
                <label></label>
                <input type="text" />

                <label>文章标签：</label>
                <input type="text" />

                <input type="button" value="保存" />
                <input type="button" value="发布" />
            </div>

        </div>*@

            <!--用父容器来控制宽度-->
            <div>
                <!--用当前元素来控制高度-->
                <div id="myEditor">
                    <p>请输入内容...</p>
                </div>
            </div>

        </div>
    </form>


    <script src="~/lib/wangEditor/wangEditor.min.js"></script>

    <script type="text/javascript">
        var E = window.wangEditor
        var editor = new E('#myEditor')

        // 或者 var editor = new E( document.getElementById('editor') )
        editor.create();
    </script>

    <script src="~/lib/layui/layui.all.js"></script>

    <script>

        $(function () {
            $('#myEditor>div:eq(1)').height($(window).height() - 90);
            $(window).resize(function () {
                //设置编辑器的高度
                $('#myEditor>div:eq(1)').height($(window).height() - 90);
            });

         });
         
       

    </script>
</body>
</html>
