@model OctOcean.Worlds.Models.ArticleDetail_VM
@{
    ViewData["Title"] = "Detail";

}
@section CustomHeadStyles{ 
    @Html.Raw(Model.AidStyle)
}
<div class="site-content">
    <div class="site-container">
        <div class="detail-content">
            <h1 class="detail-title">@Model.Title</h1>
            <p class="detail-attach">Last Update:@Model.LastUpdate</p>
            <div class="detail-m">

                @Html.Raw(Model.ContentText)
            </div>
        </div>
    </div>
</div>
