
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eef0fe; /*#f5f5f5;*/
    font-size: 16px;
    line-height: 1.6em;
    font-family: Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,FreeSans,Arimo,Droid Sans,wenquanyi micro hei,Hiragino Sans GB,Hiragino Sans GB W3,FontAwesome,sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2b49fb;
}
h1 {
    color: #35446c;
    font-weight: normal;
}

.clear {
    clear: none;
}

.site-header {
    height: 150px;
    background-color: #393D49 !important;
}

.site-title {
    margin-top: 50px;
    color: #fff;
    font-size: 2.25rem;
    font-weight: normal;
    display: inline-block;
}

    .site-title a {
        color: #fff;
    }

.site-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.site-content {
    margin-top: 20px;
}

.site-middle {
    float: left;
    width: 73%;
}

.site-right {
    float: right;
    width: 26%;
}



.border-1 {
    border: 1px solid #1e2d87;
    border-radius: 5px;
}
.blog-block {
    /*background-color: #b9b9b9;*/
    margin: 0 0 10px 0;
    padding:20px;
    background-color: #fff;
}

    .blog-block:hover {
        
        box-shadow: 3px 3px 5px rgba(128,128,128,0.5);
    }
    
    .blog-title h1 {
        font-weight: normal;
        font-size: 22px;
    }


.blog-attach .blog-label {
    text-align: right;
}

.blog-rough {
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 10px;
}

.blog-recommend {
    background-color: #fff;
    padding:20px;
}

 .blog-recommend h1 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom:10px;
        
 }

.blog-recommend li{ padding:5px 0; }



.detail-content{background-color:#fff; padding:20px;}
.detail-title{color:#35446c; font-size:28px; text-align:center; margin:20px 0;}
.detail-attach{text-align:right;}
.detail-m{ line-height:2em;}