.article-detail-main .syntaxhighlighter a,
.article-detail-main .syntaxhighlighter div,
.article-detail-main .syntaxhighlighter code,
.article-detail-main .syntaxhighlighter table,
.article-detail-main .syntaxhighlighter table td,
.article-detail-main .syntaxhighlighter table tr,
.article-detail-main .syntaxhighlighter table tbody,
.article-detail-main .syntaxhighlighter table thead,
.article-detail-main .syntaxhighlighter table caption,
.article-detail-main .syntaxhighlighter textarea {
    line-height: 22px !important;
}
.article-detail-main {
    letter-spacing: 2px;
}
    .article-detail-main pre,
    .article-detail-main code {
        letter-spacing: 0.7px;
    }
.article-detail-main code {
    font-family: 'Courier New';
    background-color: #eef7fb;
    border: 1px solid #cac7c7;
    border-radius: 3px;
    padding: 2px 5px;
    white-space: nowrap;
    color: #1e1c1c;
}
.article-detail-main table {
    width: 100%;
    border-collapse:collapse;
    margin:10px 0;
}

.article-detail-main th, .article-detail-main td {
    border: 1px solid #b3b1b1;
    padding: 0 10px;
}
.article-detail-main h3 {
    font-weight: 500;
    color: #025f8a;
    font-size: 20px;
    border-left: 5px solid #025f8a;
    padding-left: 10px;
    background: linear-gradient(to right,#dbf1fc, #025f8a); /* 标准的语法 */
    margin-bottom:5px;
}

.article-detail-main section {
    margin-bottom: 60px;
     
}


.article-detail-main h4 {
    font-weight: normal;
    font-style: italic;
    color: #c2390c;
    font-size: 16px;
}

.article-detail-main .code-zs{
    color:#a09696;
}
.article-detail-main .nr-zy {
    background-color: #fbacac;
}
.article-detail-main pre {
    line-height: 21px !important;
    padding:5px 10px;
}