.article-detail-main code {
    font-family: 'Courier New';
    background-color: #eef7fb;
    border: 1px solid #cac7c7;
    border-radius: 3px;
    padding: 2px 5px;
    white-space: nowrap;
    color:#1e1c1c;
}
.article-detail-main table {
    width: 100%;
    border-collapse:collapse;
    margin:10px 0;
}

.article-detail-main th, .article-detail-main td {
    border: 1px solid #b3b1b1;
    padding: 0 10px;
}
.article-detail-main h3 {
    font-weight: 500;
    color: #025f8a;
    font-size: 20px;
    border-left: 5px solid #025f8a;
    padding-left: 10px;
    background: linear-gradient(to right,#dbf1fc, #025f8a); /* 标准的语法 */
    margin-bottom:5px;
}

.article-detail-main section {
    margin-bottom: 60px;
     
}

.article-detail-main ul {
    list-style-type: initial;
}

.article-detail-main h4 {
    font-weight: normal;
    font-style: italic;
    color: #c2390c;
    font-size: 16px;
}

.article-detail-main .code-zs{
    color:#a09696;
}
.article-detail-main .nr-zy {
    background-color: #fbacac;
}