
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(225,225,225,0.5); /*#f5f5f5;*/
    font-size: 15px;
    line-height: 1.6em;
    font-family: Segoe UI,Lucida Grande,Helvetica,Arial,Microsoft YaHei,FreeSans,Arimo,Droid Sans,wenquanyi micro hei,Hiragino Sans GB,Hiragino Sans GB W3,FontAwesome,sans-serif;
    color: #484343;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #05a6ee;
}

h1 {
    color: #35446c;
    font-weight: normal;
}

.clear {
    clear: both;
}

.site-header {
    height: 135px;
    background-color: #025f8a !important;
    /*border-bottom: 8px solid #05a6ee;*/
}

.site-title {
    margin-top: 35px;
    color: #fff;
    font-size: 2.25rem;
    font-weight: normal;
    display: inline-block;
}

    .site-title a {
        color: #fff;
    }

.site-container {
    max-width: 1200px;
    margin: 0 auto;
}

.site-header-menu {
    margin-top: 23px;
    /*border:1px solid red;*/
}

    .site-header-menu ul li {
        float: left;
        font-size: 20px;
        padding: 10px 20px;
        list-style: none;
    }

        .site-header-menu ul li a {
            color: #c3e4f3;
        }

            .site-header-menu ul li a:hover {
                color: #fff;
            }

    .site-header-menu .site-header-menu-active a {
        color: #025f8a;
    }
        .site-header-menu .site-header-menu-active a:hover {
            color: #025f8a;
        }

    .site-header-menu .site-header-menu-active {
        background: #efefef;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: 600;
        /*border-bottom: 8px solid #eef0fe;*/
        /*border-left: 8px solid #05a6ee;
        border-right: 8px solid #05a6ee;
        border-top: 8px solid #05a6ee;*/
    }

.site-content {
    margin-top: 20px;
}

.site-middle {
    float: left;
    width: 73%;
}

.site-right {
    float: right;
    width: 26%;
}



.border-1 {
    border: 1px solid #1e2d87;
    border-radius: 5px;
}

.blog-block {
    /*background-color: #b9b9b9;*/
    margin: 0 0 30px 0;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    border: 5px solid rgba(225,225,225,0.8); /*rgba(128,128,128);*/
}

    .blog-block:hover {
        box-shadow: 5px 5px 8px rgba(128,128,128,0.8);
        /*border: 1px solid rgba(128,128,128,0.5);*/
    }
.blog-title {
    margin-bottom: 10px;
   
}
    .blog-title h1 {
        font-weight: normal;
        font-size: 18px;
        padding-bottom: 10px;
      
        /*border-bottom: 1px dashed #bebcbc;*/
    }

.blog-title-hr {
    height: 1px;
    background: linear-gradient(to right,#ade4fc, #025f8a); /* 标准的语法 */
}

.blog-attach .blog-label {
    text-align: right;
}

.blog-rough {
    font-size: 15px;
    line-height: 1.6em;
    text-indent: 30px;
 
   
    margin-bottom:20px;
}

.blog-attach {
    font-size: 13px;
}

.blog-recommend {
    background-color: #fff;
    padding-bottom: 10px;
}

.oct-panel-title {
    font-weight: normal;
    font-size: 20px;
    background-color: #025f8a;
    color: #fff;
    padding: 8px 20px;
    margin-bottom: 5px;
}


.blog-recommend li {
    padding: 5px 20px;
}

.blog-label span {
    margin-left: 20px;
}


.article-detail-content {
    background-color: #fff;
    padding: 20px;
}

.article-detail-title {
    color: #35446c;
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}

.article-detail-attach {
    margin-bottom: 20px;
}

    .article-detail-attach .blog-label {
        text-align: center;
    }

.article-detail-main {
    line-height: 2em;
}
