@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>


    <!--<script src="../wwwroot/lib/layui/layui.js"></script>-->
    <!--一次性加载所有的-->

</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo" style="color:#fff;font-size:22px;">Oct Ocean</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <!--<ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>-->
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        十月海洋
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">博客管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/Article/ArticleManagement">文章管理</a></dd>
                            <dd><a href="javascript:;">列表三</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item  layui-nav-itemed">
                        <a href="javascript:;">基础数据维护</a>
                        <dl class="layui-nav-child">
                            <dd><a asp-page="/BasicMaintenance/ArticleCategoryManagement">文章分类</a></dd>
                            <dd><a href="/BasicMaintenance/ArticleTagManagement">文章标签</a></dd>

                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/">统计</a></li>
                    <!--<li class="layui-nav-item"><a href="">发布商品</a></li>-->
                </ul>
            </div>
        </div>
        <script src="~/lib/layui/layui.all.js"></script>


        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>


    <!--<script>
        ; !function () {
            //无需再执行layui.use()方法加载模块，直接使用即可
            var form = layui.form
                , layer = layui.layer;

            var element = layui.element;

            layer.msg('Hello World');
        }();
    </script>-->



</body>
</html>
